.flex {
  display: flex;
}
.flex-col {
  display: flex;
  flex-direction: column;
}
.center-x {
  display: flex;
  justify-content: center;
}

.center-y {
  display: flex;
  align-items: center;
}

.center-x-y {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mr-10 {
  margin-right: 10px;
}
.ml-10 {
  margin-left: 10px;
}

.py-10 {
  padding: "10px 0";
}

.cp {
  cursor: pointer;
}
